<html>
  <head>
    <title>Buy {{ item.name }}</title>
  </head>
  <body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      var stripe = Stripe('{{ settings.STRIPE_PUBLIC_KEY }}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
      console.log(1);
      fetch('/buy/{{ item.id }}/', { method: 'GET' })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            return stripe.redirectToCheckout({ sessionId: data.session_id });
        })
        .then(function(result) {
            // Обработка успешной оплаты или отмены
        });
      });
    </script>
  </body>
</html>